#header {
    width: 100%;
    background-color: grey;
    height: 40px;
}

#container {
    width: 100%;
    margin: auto;
}
#first {
    width: 33.1%;
    float: left;
    height: 170px;
    border:1px solid black;

}
#second {
    width: 33.1%;
    float: left;
    height: 170px;
    border:1px solid black;
}
#third {
    width: 33.3%;
    float: left;
    height: 170px;
    border:1px solid black;
}
#chart-container {
    padding-top: 190px;
    border:1px solid black;
}